.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  max-width: 360px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__delete-btn {
  position: absolute;
  border: none;
  border-radius: 50%;
  padding: 0;
  top: 10px;
  left: 371px;
  background-image: url("../images/Delete\ Icon.svg");
  background-color: black;
  height: 32px;
  width: 32px;
  opacity: 30%;
}

.card__delete-btn:hover {
  background-image: url("../images/Delete\ Icon\ Hover.svg");
  background-color: rgb(255, 101, 101);
  opacity: 1;
}

.card__like-btn {
  background-image: url("../images/heart.svg");
  height: 20px;
  width: 23px;
  border: none;
  color: rgba(33, 33, 33, 1);
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url("../images/Like\ Icon\ Liked.svg");
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url("../images/Like\ Icon\ Liked\ Hover.svg");
}

@media screen and (max-width: 627px) {
  .card {
    position: relative;
  }

   .card__delete-btn {
    position: absolute;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__image {
    height: 288px;
  }

  .card__delete-btn {
    position: absolute;
  }
}
