.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;

}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;

}

.modal__close-btn {
  background-image: url("../images/close-btn.svg");
  background-color: #fff;
  opacity: 0.4;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.modal__container_type_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 8px;
  background: none;
  position: relative;
}

.modal__close-btn_type_preview {
  position: absolute;
  background-image: url("../images/Close\ preview.svg");
  background-color: transparent;
  opacity: 1;
  top: 0;
  right: -52.5px;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  position: relative;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__caption {
  padding: 4px 8px;
  margin: 16px 0 0; 
  background-color: rgba(33, 33, 33, 1);
  box-sizing: border-box;
  font-family:'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border-radius: 8px;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__label {
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  line-height: 17.6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  border: none;
}

.modal__input {
  color: #212121;
  font-size: 20px;
  line-height: 20px;
  padding: 16px 12px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__submit-btn {
  color: #fcf5e5;
  font-weight: 500;
  background-color: #212121;
  border-radius: 8px;
  width: 156px;
  padding: 18px 0;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 16px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn_type_preview {
    top:-41px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
  }
}