.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.modal__container {
  background-color: #fff;
  padding: 33px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__close-btn {
  background-image: url("../images/close-btn.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.modal__preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 8px;
  background: none;
  position: relative;
}

.modal__close-btn_type_preview {
  position: absolute;
  background-image: url("../images/Close_preview.svg");
  background-color: transparent;
  opacity: 1;
  top: 0;
  right: -52.5px;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  position: relative;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__caption {
  padding: 4px 8px;
  margin: 16px 0 0;
  background-color: rgba(33, 33, 33, 1);
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border-radius: 8px;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.modal__label {
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  line-height: 17.6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  border: none;
}

.modal__input {
  color: #212121;
  font-size: 20px;
  line-height: 20px;
  padding: 16px 12px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  margin-bottom: 0;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__error {
  display: block;
  color: rgba(255, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  /* margin-top: 8px; */
}

.modal__submit-btn {
  color: #fcf5e5;
  font-weight: 500;
  background-color: #212121;
  border-radius: 8px;
  width: 156px;
  padding: 18px 0;
  cursor: pointer;
}

.modal__submit-btn:hover {
  cursor: pointer;
  background-color: #212121;
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#delete-modal .modal__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#delete-modal .modal__title {
  font-size: 24px;
  text-align: center;
}

#delete-modal .modal__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-modal .modal__close-btn {
  background-image: url("../images/Close_preview.svg");
  opacity: 1;
  position: absolute;
  top: 0;
  right: -52.5px;
}

#delete-modal .delete-btn {
  background-color: rgba(255, 101, 101, 1);
  color: rgba(33, 33, 33, 1);
  border: none;
  margin-right: 10px;
}

#delete-modal .delete-btn:hover {
  background-color: rgba(255, 51, 51, 1);
  cursor: pointer;
}

#delete-modal .cancel-btn {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(33, 33, 33, 1);
  border: solid black 1px;
  margin-left: 10px;
}

#delete-modal .cancel-btn:hover {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__image {
    max-width: 288px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__preview {
    margin: auto 16px;
  }

  .modal__close-btn_type_preview {
    top: -41px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }

  #delete-modal .modal__container {
    width: 300px;
    height: 208px;
    padding: 12px;
  }

  #delete-modal .modal__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #delete-modal .modal__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }

  #delete-modal .modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 156px;
    height: 52px;
    margin: 0 auto;
    height: auto;
  }

  #delete-modal .modal__close-btn {
    background-image: url("../images/Close_preview.svg");
    opacity: 1;
    position: absolute;
    top: -45px;
    right: 0;
  }

  #delete-modal .delete-btn,
  #delete-modal .cancel-btn {
    width: 156px; /* Fixed button width */
    height: 52px; /* Fixed button height */
    text-align: center; /* Ensure text is centered */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    border-radius: 5px; /* Optional: Makes buttons look better */
    margin: 0;
  }
}
